//@import 'jeet/index';
@import 'compass';
@import '../fonts/proximanova/stylesheet.css';
@import '../fonts/minionpro/stylesheet.css';
@import '../fonts/gotham/stylesheet.css';
@import 'font-awesome';
@import 'jquery.smallipop';
@import 'hover';
@import 'lifestream';

$baseFontSize: 10; // Based on HTML reset html { font-size: 62.5%; }
 
@mixin vendorize($property, $value) {
	-webkit-#{$property}: $value;
	-moz-#{$property}: $value;
	-ms-#{$property}: $value;
	-o-#{$property}: $value;
	#{$property}: $value;
}

@mixin opacity($trans) {
	filter: alpha(opactiy=($trans * 100));
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=#{$trans * 100})";
	-moz-opacity: $trans;
	-khtml-opacity: $trans;
	opacity: $trans;
}

@function parseInt($n) {
  @return $n / ($n * 0 + 1);
}
 
@mixin rem($property, $values) {
	$px : (); 
	$rem: ();
	
	$root: $baseFontSize;
	
	@each $value in $values {
		@if $value == 0 or $value == auto {
			$px : append($px , $value);
			$rem: append($rem, $value);
		}
		
		@else if type-of($value) == number { 
			$unit: unit($value);
			$val: parseInt($value);
			
			@if $unit == "px" {
				$px : append($px,  $value);
				$rem: append($rem, ($val / $root + rem));
			}
			
			@if $unit == "rem" {
				$px : append($px,  ($val * $root + px));
				$rem: append($rem, $value);
			}
		}
		
		@else {
			$px : append($px,  $value);
			$rem: append($rem, $value);
		}
	}
	
	@if $px == $rem {
		#{$property}: $px;
	} @else {
		#{$property}: $px;
		#{$property}: $rem;
	} 
}
 
@function rem($value) {
	$root: $baseFontSize;
	$val: parseInt($value);
	$return: ();
	
	@if unit($value) == "px" {
		$return: append($return, ($val / $root + rem));
	} @else {
		$return: append($return, ($val * $root + px));
	}
	
	@return $return;
}

$fonttikoko: 18px;

@mixin perusfonttikoko() {
	@include rem(font-size,$fonttikoko);
	@include rem(line-height,($fonttikoko+7));
}

@mixin perusotsikkokoko() {
	@include rem(font-size,26px);
}

@mixin erikoisotsikko {
	font-family:'gothambold', Helvetica, Arial;
	@include rem(font-size,39px);
	font-weight: normal;
	letter-spacing: -1px;
	color:#222;
	text-shadow:2px 2px 1px #aaa;
	padding:0;
}

@mixin teksti() {
	font-family:"minion_proregular";
	letter-spacing:0;
}

@mixin otsikko() {
	font-family:'gothambold', Helvetica, Arial;
	font-weight: normal;
	letter-spacing: -1px;
	@include rem(margin,15px 0);
	color:#222;
	padding:0;
}

html {
    font-size: 62.5%; /* Our default font is now 10px, which makes math easier. Now, 1.0rem = 10px. This becomes our $rembase. */
}

body {
	background:#f1f1f1;
}

.description {
	width:80%;
	margin-left: auto;
	margin-right: auto;
}

.card {
	text-align:center;
}

#wrapper .smallsection {
	margin:0 auto;
	max-width:400px;
	width:100%;
}

#wrapper .section h1 {
	@include erikoisotsikko;
	@include rem(margin,20px 0);
}

#wrapper .section p {
	@include teksti;
	@include perusfonttikoko;
}

body, p {
	@include teksti;
	@include perusfonttikoko;
}


a, a:link, a:visited {
	color:#DD2915;
	border-bottom:1px solid #ccc;
	text-decoration:none;
	font-weight:bolder;
    -webkit-transition: all 0.22s ease-out;
    -moz-transition: all 0.22s ease-out;
    -o-transition: all 0.22s ease-out;
}

.section {
	text-align:center;
}

.section h2 {
	color:#343434;
	@include teksti;
	@include perusfonttikoko;
	font-family:"minion_proregular";
	font-weight:600;
	border:0;
	text-shadow:0 1px 1px #ffffff;
	margin:0;
	padding:0;
}

a:hover {
	color:#81C414;
	border:0;
}

#header {
	text-align:center;
}

#wrapper {
	position:relative;
	max-width:940px;
	width:100%;
	margin:30px auto;
	color:#222;
}

#wrapper p {
	@include teksti;
	@include perusfonttikoko;
	font-weight: lighter;
	word-spacing: 1px;
	text-shadow:1px 1px 1px #fff;
	text-align:center;
}

.details {
	margin:0;
	@include rem(padding,10px);
}

.details li {
	display:inline;
	@include rem(padding,0 7px);
}

.details li .fa {
	@include rem(font-size,23px);
}

.details li {
	color:#666666;
	color:rgba(0,0,0,0.3);
}

.details p {
	color:#444;
	padding:0;
	margin:30px 0;
}

// HOVERS

.smallipop-content {

	h2 {
		@include otsikko;
		@include rem(font-size,18px);
		margin:0;
		padding:0;
		color:#ffffff;
	}

	p {
	
		@include teksti;
		@include perusfonttikoko;

		font-weight:normal;
		margin:0;
		padding:0;

		a, a:link, a:visited, a:active {
			text-decoration:none !important;
			border:0;
		}
	}
}

.flag:hover {
	color:#4E98D0;
	@extend .skew;
}
.beer:hover {
	color:#deb719;
	@extend .hover;
}
.heart:hover {
	color:red;
	@extend .pulse;
}
.music:hover {
	color:#40d631;
	@extend .wobble-vertical;
}
.film:hover {
	color:#d65f31;
	@extend .wobble-horizontal;
}
.linux:hover {
	color:#a68010;
	@extend .grow-rotate;
}
.briefcase:hover {
	color:grey;
	@extend .buzz;
}
.book:hover {
	color:purple;
	@extend .push;
}

.hoverme {
	cursor:pointer;
}

.card.section a {
	border:0;
}

#footer {

	p {
		@include teksti;
		@include rem(font-size,15px);
		color:#888888;
	}
}

#lifestream {
	text-align:left;
	margin:0 auto;

	ul {
		@include rem(padding,10px);
		text-align:left;
		li {
			@include rem(padding,5px 3px 5px 25px);
			background-repeat:no-repeat;
			background-position:left center;
			list-style:none;
			@include rem(font-size,14px);
		}
	}

	.timeago {
		@include opacity(0.5);
	}
}