doctype html
html(lang=en)
	head
		meta(charset="utf-8")
		meta(name="viewport",content="width=device-width, initial-scale=1, maximum-scale=1")		
		meta(name="description",content="Roni Laukkarinen is a Finnish Front End Web developer, Twitter freak, craft beer enthusiast.")
		meta(name="author", content="Roni Laukkarinen")

		title Front End Developer, Web designer &mdash; Roni Laukkarinen
		link(rel="stylesheet",href="css/layout.css")

		link(rel="shortcut icon",href="img/favicon.png")
		link(rel="icon",href="img/favicon.png" type="image/png") 
		link(rel="apple-touch-icon",href="img/iphone-touch-icon.png")
		link(rel="apple-touch-icon",sizes="114x114",href="img/iphone-touch-icon.png")

	body
		div#wrapper
			section.card.section
				a(href="http://rolle.io")
					img(src="img/rolle-128x128.png" alt="Rolle")
	
				header.information.smallsection
					h1 Roni Laukkarinen 
					p.description Front End Web developer <a href="http://www.dude.fi">@dude</a>. Loves SASS, PHP, jQuery and Macbook Pro.

					ul.details
						li.flag.hoverme
							span.fa.fa-flag
							div.smallipop-hint				
								h2 From Finland
								p A land of a thousand lakes (actually, there are 187,888 of them), Angry Birds, sauna, Nokia mobile phones, etc.
						li.beer.hoverme
							span.fa.fa-beer
							div.smallipop-hint				
								h2 Beer enthusiast
								p I love craft beer. Keeping track with <a href="http://untappd.com/user/rolle">Untappd</a> and writing a finnish beer blog at <a href="http://www.huurteinen.fi">huurteinen.fi</a>.
						li.music.hoverme
							span.fa.fa-music
							div.smallipop-hint				
								h2 Metalhead
								p Been love in heavy metal since forever. Check out my <a href="http://www.last.fm/user/rolle-">last.fm</a> to find out more. Journalist at <a href="http://www.metallimusiikki.net">metallimusiikki.net</a> webzine since 2007.
						li.film.hoverme
							span.fa.fa-film
							div.smallipop-hint				
								h2 Movie enthusiast
								p Movies are my way to relax and escape reality (we all need that sometimes). Writing <a href="http://www.rollemaa.org/leffat">a finnish movie blog</a> and short reviews in english <a href="http://letterboxd.com/rolle/">at Letterboxd</a>.
						li.linux.hoverme
							span.fa.fa-linux
							div.smallipop-hint				
								h2 General geek
								p Linux-user by heart, Macbook Pro user as designer, Android-user on mobile. I own an iPad + all sorts of OS's and gadgets. Using openElec-Plex as home theater distro. My home is filled with equipment and computer parts.
						li.heart.hoverme
							span.fa.fa-heart
							div.smallipop-hint				
								h2 Family man
								p My family is really important to me. I have one daughter and a son. Married to a deafblind person (Usher's syndrome).

						li.briefcase.hoverme
							span.fa.fa-briefcase
							div.smallipop-hint				
								h2 Entrepreneur
								p I'm first entrepreneur in my family tree. Everyone before me were regular workers all their lives.
						li.book.hoverme
							span.fa.fa-book
							div.smallipop-hint				
								h2 Blogger
								p I have 7 blogs in total. Only blog in English is currently <a href="http://problemsolv.in">Problemsolv.in</a>. Considering blogging here at rolle.io about web design. Find out about my finnish blogs <a href="http://rollemaa.org/info">here</a>.

				section.section.lifestream-section
					ul#lifestream

			footer#footer 
				p This page is hand crafted using Jade, SASS and jQuery <br /><a href="https://plus.google.com/+RoniLaukkarinen?rel=author">by Roni Laukkarinen</a>.

script(src="/js/jquery-1.9.0.min.js")
script(src="/js/jquery.lifestream.min.js")
script(src="//cdnjs.cloudflare.com/ajax/libs/jquery-timeago/1.1.0/jquery.timeago.min.js")
script(src="/js/jquery.smallipop.min.js")
script(src="/js/scripts.min.js")

<!--[if lt IE 9]>
<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

script.
	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	ga('create', 'UA-50914309-1', 'rolle.io');
	ga('send', 'pageview');